.card-title {
    font-size: 30px;
    padding: 15px;

}

.card-title1 {
    font-size: 30px;
    padding: 15px;
}

.card-text {
    padding: 15px;
}

.card-text1 {
    padding: 15px;
}

.btn {
    margin-left: 15px;
    margin-bottom: 15px;
}

#container {
    margin-top: 20px;
}

.titulo2 {
    margin-top: 20px;
    color: white;
}