{% extends "layout.html" %}

{% block contenido %}
<br>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Registrate</h1>
                        <form action="" method="post" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Nombre</label>
                                <input id="nombre" type="text" class="form-control" name="nombre" value="" required
                                       autofocus>
                                <div class="invalid-feedback">
                                    El nombre es obligatorio
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Apellidos</label>
                                <input id="apellidos" type="text" class="form-control" name="apellidos" value=""
                                       required autofocus>
                                <div class="invalid-feedback">
                                    Los apellidos son obligatorios
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Fecha de nacimiento</label>
                                <input id="fecha" type="date" class="form-control" name="fecha" value=""
                                       aria-label="dd / mm / aaaa" placeholder="dd / mm / aaaa" required autofocus>
                                <div class="invalid-feedback">
                                    La fecha de nacimiento es obligatoria
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">Email</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required>
                                <div class="invalid-feedback">
                                    El correo es obligatorio
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="password">Contraseña</label>
                                <input id="password" type="password" minlength="6" class="form-control"
                                       name="password" required>
                                <div class="invalid-feedback">
                                    La contraseña es obligatoria
                                </div>
                            </div>

                            <div class="align-items-center d-flex">
                                <input type="submit" id="register"
                                       class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm"
                                       value="Register">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            ¿Ya tienes una cuenta? <a href="login.php"
                                                      class="text-decoration-none text-info fw-semibold">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}